<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='homestyle.css')}}">  

</head>
<body>

<h2>Facebook Search Bar</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
  <li><a href="http://127.0.0.1:5000/home/Nahar">Nahar</a></li>
  <li><a href="http://127.0.0.1:5000/home/Yanay">Yanay</a></li>
  <li><a href="http://127.0.0.1:5000/home/Shiraz">Shiraz</a></li>
  <li><a href="http://127.0.0.1:5000/home/Oded">Oded</a></li>
  <li><a href="http://127.0.0.1:5000/home/DanDan">DanDan</a></li>
  <li><a href="http://127.0.0.1:5000/home/Benda">Benda</a></li>
  <li><a href="http://127.0.0.1:5000/home/Naama">Naama</a></li>
  <li><a href="http://127.0.0.1:5000/home/Nelson">Nelson</a></li>
</ul>
            {% if no_friends == True %}
                <p> I have no Friends :'(</p>
            {% else %}
                <p> I have Friends!my Friends are: </p>
            {% endif %}
            <h2> Friends: </h2>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

</body>
</html>

